@page "/rol/create"
@using SysSeguridadG05.EN;
@inject HttpClient Http;
@inject NavigationManager NavManager

<h3>Registrar</h3>

<div class="row">
    <div class="col-sm-12">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" id="idNombre" @bind-value="rol.Nombre" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-primary" @onclick="CreateRol">Guardar</button>
        <button class="btn btn-secondary" @onclick="Index">Regresar</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <span style="color:red; font-weight:bold">@error</span>
    </div>
</div>
@code {
    Rol? rol = new Rol();
    string error = "";

    public async Task CreateRol()
    {
        try
        {
            var resultado = await Http.PostAsJsonAsync<Rol>("Rol", rol);

            if (Convert.ToInt32(resultado.StatusCode) == 200)
            {
                Index();
            }
            else
            {
                error = "Error al Ingresar el Rol";
            }
        }
        catch (Exception ex)
        {
            throw new Exception(ex.Message.ToString());
        }
    }

    void Index()
    {
        NavManager.NavigateTo("/rol/index");    
    }
}
