@page "/rol/edit/{pId:int}"
@using SysSeguridadG05.EN;
@inject HttpClient Http
@inject NavigationManager NavManager

<h3>Editar Rol</h3>

<input type="hidden" id="idRol" @bind-value="rol.Id" />
<div class="row">
    <div class="col-sm-12">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" id="idNombre" @bind-value="rol.Nombre" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-primary" @onclick="ModificarRol" >Guardar</button>
        <button class="btn btn-secondary" @onclick="Index" >Regresar</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <span style="color:red; font-weight:bold">@error</span>
    </div>
</div>

@code {
    Rol rol = new Rol();
    String error = "";

    [Parameter]
    public int pId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (pId != 0)
        {
            rol = await Http.GetFromJsonAsync<Rol>("Rol/" + pId);
        }
        else
        {
            error = "Rol seleccionado no es valido";
        }
    }

    public async Task ModificarRol()
    {
        try
        {
            var resultado = await Http.PutAsJsonAsync<Rol>("Rol/" + rol.Id, rol);

            if (Convert.ToInt32(resultado.StatusCode) == 200)
            {
                Index();
            }
            else
            {
                error = "Error al modificar el registro de Rol";
            }
        }
        catch (Exception ex)
        {
            throw new Exception(ex.Message);
        }
    }

    void Index()
    {
        NavManager.NavigateTo("/rol/index");    
    }
}
